In [1]:
import pandas as pd

In [3]:
def load_sales_data(file_path):
    sales_data = pd.read_csv(file_path)
    return sales_data

data = load_sales_data('D:\\Sale Performance Analysis September 2024\\Sale-Team-Performance-Analysis-Using-LLM\\data\\sales_performance_data.csv')

In [4]:
data.head()

,employee_id,employee_name,created,dated,lead_taken,tours_booked,applications,tours_per_lead,apps_per_tour,apps_per_lead,...,fri_text,sat_text,sun_text,mon_call,tue_call,wed_call,thur_call,fri_call,sat_call,sun_call
0,183,Camilla Ali,2022-07-26 19:00:12.644,2022-07-26,44,2,2,4.5,100.0,4.5,...,11,5,86,0,3,2,6,0,0,13
1,185,Maaz Brown,2022-07-26 19:00:12.644,2022-07-26,27,1,0,3.7,0.0,0.0,...,27,28,21,2,1,0,2,3,1,3
2,186,Jim Lee,2022-07-26 19:00:12.644,2022-07-26,86,5,1,5.8,20.0,1.2,...,10,14,0,0,2,0,0,0,0,0
3,173,Alina Victor,2022-07-26 19:00:12.644,2022-07-26,47,8,4,17.0,50.0,8.5,...,10,20,6,4,5,13,1,6,10,1
4,158,Mary Ogbewele,2022-07-26 19:00:12.644,2022-07-26,56,6,3,10.7,50.0,5.4,...,56,52,13,5,12,0,3,11,0,2

In [5]:
def preprocess_data(sales_data):
    # Handle missing values
    sales_data.fillna(0, inplace=True)
    
    # Calculate overall conversion rates
    sales_data['conversion_rate'] = sales_data['applications'] / sales_data['lead_taken'].replace(0, 1)
    return sales_data

processed_data = preprocess_data(data)

In [6]:
processed_data

,employee_id,employee_name,created,dated,lead_taken,tours_booked,applications,tours_per_lead,apps_per_tour,apps_per_lead,...,sat_text,sun_text,mon_call,tue_call,wed_call,thur_call,fri_call,sat_call,sun_call,conversion_rate
0,183,Camilla Ali,2022-07-26 19:00:12.644,2022-07-26,44,2,2,4.5,100.0,4.5,...,5,86,0,3,2,6,0,0,13,0.045455
1,185,Maaz Brown,2022-07-26 19:00:12.644,2022-07-26,27,1,0,3.7,0.0,0.0,...,28,21,2,1,0,2,3,1,3,0.000000
2,186,Jim Lee,2022-07-26 19:00:12.644,2022-07-26,86,5,1,5.8,20.0,1.2,...,14,0,0,2,0,0,0,0,0,0.011628
3,173,Alina Victor,2022-07-26 19:00:12.644,2022-07-26,47,8,4,17.0,50.0,8.5,...,20,6,4,5,13,1,6,10,1,0.085106
4,158,Mary Ogbewele,2022-07-26 19:00:12.644,2022-07-26,56,6,3,10.7,50.0,5.4,...,52,13,5,12,0,3,11,0,2,0.053571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2531,146,Travis Reed,2023-05-10 13:20:20.742,2023-05-10,3,0,0,0.0,-1.0,0.0,...,0,0,0,0,0,0,0,0,0,0.000000
2532,144,0,2023-05-10 13:20:20.742,2023-05-10,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.000000
2533,94,Richard Crown,2023-05-10 13:20:20.742,2023-05-10,25,2,0,8.0,0.0,0.0,...,98,3,13,2,18,12,1,18,0,0.000000
2534,84,Rebecca Zara,2023-05-10 13:20:20.742,2023-05-10,5,1,1,20.0,100.0,20.0,...,62,47,6,49,8,11,2,14,12,0.200000
2535,149,Mary Farley,2023-05-10 13:20:20.742,2023-05-10,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.000000

In [7]:
def summarize_by_employee(sales_data):
    employee_summary = sales_data.groupby('employee_name').agg({
        'lead_taken': 'sum',
        'tours_booked': 'sum',
        'applications': 'sum',
        'conversion_rate': 'mean'
    }).reset_index()

    return employee_summary

employee_performance = summarize_by_employee(processed_data)

In [8]:
employee_performance

,employee_name,lead_taken,tours_booked,applications,conversion_rate
0,0,0,0,0,0.000000
1,Aaron Rahim,1,0,0,0.000000
2,Abe Walkerr,272,5,3,0.005268
3,Adrian Rafi,361,39,0,0.000000
4,Aiden Moon,216,28,0,0.000000
5,Albert Morgan,0,0,0,0.000000
6,Ali Hamza,54,0,0,0.000000
7,Alina Victor,13484,931,588,0.066660
8,Areesa Gold,728,11,0,0.000000
9,Ashir Ghori,3441,190,110,0.037320
10,Camilla Ali,15337,1508,679,0.069197
11,Damon Gilbert,215,17,6,0.028257
12,Eva Pereira,159,0,0,0.000000
13,Eva Yusyana,1854,51,27,0.010354
14,Faye Ryann,299,24,3,0.002771
15,Felix Emeka,9558,637,213,0.024009
16,Frank Lois,1260,0,0,0.000000
17,Frank Norris,999,13,0,0.000000
18,Genevieve Gold,8270,475,654,0.272013
19,Harry Quinn,367,11,5,0.004125
20,Ivette Couto,0,0,0,0.000000
21,Jim Lee,260,15,3,0.011539
22,John Carlos,404,81,18,0.050327
23,Justice Nwankere,122,0,0,0.000000
24,Katie Tucker,607,36,36,0.272985
25,Kevin Shaw,516,34,17,0.044826
26,Kinza Gold,6598,215,107,0.052239
27,Maaz Brown,2304,193,62,0.025029
28,Mandy Quest,155,8,0,0.000000
29,Maria Khalid,4833,175,35,0.010124
30,Mary Farley,0,0,0,0.000000
31,Mary Ogbewele,3475,289,90,0.027587
32,Nabeeha Oliver,1043,62,27,0.022456
33,Natalie Arif,3696,286,160,0.190255
34,Noelle Imara,5,0,0,0.000000
35,Pamela Ross,13957,1266,526,0.115343
36,Patrick Ribeiro,5869,0,0,0.000000
37,Rebecca Zara,743,57,19,0.059811
38,Rehana Khan,195,0,0,0.000000
39,Richard Crown,7525,609,177,0.054748
40,Romeen Khan,71,0,0,0.000000
41,Rooney Rodriguez,4989,68,30,0.012294
42,Rose Sky,0,0,0,0.000000
43,Salim Baloch,1293,25,26,0.061861
44,Salma Arif,145,8,9,0.065642
45,Sam Mubin,9168,7,6,0.013749
46,Samuel Jones,271,9,0,0.000000
47,Sana Lopez,8921,466,240,0.088882
48,Sarah Kayani,795,19,0,0.000000
49,Scott Abbott,7,0,0,0.000000
50,Sean Garcia,0,0,0,0.000000
51,Sid Andrew,433,36,14,0.008312
52,Stephanie Chideluo,309,12,6,0.010634
53,Sudhindra Rao MS,0,0,0,0.000000
54,Svetlana Soares,5849,0,0,0.000000
55,Teresa Reid,1560,145,12,0.004155
56,Tia Ali,397,0,0,0.000000
57,Travis Reed,10,0,0,0.000000
58,Umama Ishtiaq,0,0,0,0.000000